header {
    height: 10vh;
    background:linear-gradient(0deg, blue, white);
}

main {
    height: 85vh;
}

footer {
    height: 2vh;
}

.flex-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.story-item {
    border: 1px solid black; 
    text-overflow: wrap;
    padding: 5px;

}

#story-title {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    width: 20vw;
    text-overflow: wrap;

}